<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle }}</title>
  
  <!-- Fonts -->
  <!-- Josefin -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <!-- Yeseva -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- JustGiving Donate -->
  <script src="https://www.justgiving.com/widgets/scripts/widget.js" data-version="2" data-widgetType="attachCheckout" type="text/javascript" defer></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/2f49d265bf.js" crossorigin="anonymous" defer></script>

  <!-- My CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- My JavaScript -->
  <script src="/script.js" defer></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid nav-container custom-padding-lg">
      <a class="navbar-brand" href="/index">
        <img src="/assets/B870F3D1-79B0-4696-BF7E-410C1FB6B03D.png" alt="PINT Logo" id="nav-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item px-4">
            {# <a class="nav-link" href="/about/">About</a> #}
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item px-4">
            {# <a class="nav-link" href="/our-work/">Our Work</a> #}
            <a class="nav-link" href="#">Our Work</a>
          </li>
          <li class="nav-item px-4">
            {# <a class="nav-link" href="/volunteer/">Volunteer</a> #}
            <a class="nav-link" href="#">Volunteer</a>
          </li>
          <li class="nav-item ps-4 pe-4 pe-lg-0">
            <a class="nav-link btn custom-btn" data-jg-donate-button data-linkId="4urj0rxklq" data-marketCode="GB" data-linkType="givingCheckout">Donate</a>
        </ul>
      </div>
    </div>
  </nav>
  {{ content | safe }}
  <footer class="container-fluid footer-container custom-padding-lg">
    {# <div class="row w-100 h-100"> #}
    <div class="row row-cols-1 row-cols-md-4 text-center my-5 g-0">
      {# <div class="col-12 col-md-3 footer-brand"> #}
      <div class="col my-5 my-md-0 footer-brand">
        <img class="img footer-logo-img" src="/assets/pint-white.png" alt="PINT Logo">
        <ul class="footer-list">
          <li class="text-uppercase mb-2">&copy; {% year %} People In Need Today</li>
          <li class="mb-2">Charity No. 1199209</li>
        </ul>
      </div>
      {# <div class="col-12 col-md-3 footer-quick-links"> #}
      <div class="col my-5 my-md-0 footer-quick-links">
        <h4>Quick links</h4>
        <ul class="footer-quick-links footer-list">
          <li class="mb-2"><a class="nav-link btn custom-btn" data-jg-donate-button data-linkId="4urj0rxklq" data-marketCode="GB" data-linkType="givingCheckout">Donate</a></li>
          {# <li class="mb-2"><a class="nav-link" href="/about/">About</a></li> #}
          <li class="mb-2"><a class="nav-link" href="#">About</a></li>
          {# <li class="mb-2"><a class="nav-link" href="/our-work/">Our Work</a></li> #}
          <li class="mb-2"><a class="nav-link" href="#">Our Work</a></li>
          {# <li class="mb-2"><a class="nav-link" href="/volunteer/">Volunteer</a></li> #}
          <li class="mb-2"><a class="nav-link" href="#">Volunteer</a></li>
          <li class="mb-2"><a class="nav-link" href="#">Outreach Calendar</a></li>
          <li class="mb-2"><a class="nav-link" href="#">FAQ</a></li>
          <li class="mb-2"><a class="nav-link" href="privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      {# <div class="col-6 col-md-3 footer-contact"> #}
      <div class="col my-5 my-md-0 footer-contact">
        <h4>Contact us</h4>
        <ul class="contact-list footer-list">
          <li class="mb-2"><a href="mailto:pintgiving@gmail.com"><i class="fa-solid fa-fw fa-envelope"></i>pintgiving@gmail.com</a></li>
          <li class="mb-2"><i class="fa-solid fa-fw fa-mobile"></i>07508 979166</li>
          <li class="mb-2"><i class="fa-solid fa-fw fa-location-dot"></i>London, United Kingdom</li>
        </ul>
      </div>

      {# <div class="col-6 col-md-3 footer-socials-newsletter"> #}
      <div class="col my-5 my-md-0 footer-socials-newsletter">
        <h4>Stay connected</h4>
        {# ADD NEWSLETTER INPUT #}
        <a href="https://twitter.com/pintgiving"><i class="fa-brands fa-x-twitter fa-fw"></i></a>
        <a href="https://www.tiktok.com/@pintgiving"><i class="fa-brands fa-tiktok fa-fw"></i></a>
        <a href="https://www.instagram.com/pintgiving/"><i class="fa-brands fa-instagram fa-fw"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>