  <div class="hero-section container-fluid p-0">
    <img src="{{ heroImage }}" alt="{{ heroImgAltText }}" class="img-fluid" id="{{ heroImgID }}">
    <div class="container-fluid py-3 p-lg-5 hero-text-container md-hero-card">
      <h2>{{ floatingCardHeading }}</h2>
      <p>{{ floatingCardBody }}</p>
      <a href="{{ floatingCardLink }}" class="btn custom-btn w-100">{{ floatingCardBtnText }}</a>
    </div>
  </div>