  <div class="hero-section container-fluid p-0">
    <img src="{{ heroImage }}" alt="{{ heroImgAltText }}" class="img-fluid" id="{{ heroImgID }}">
    <div class="container-fluid full-width-container" id="floating-card-container">
      <h2>{{ floatingCardHeading }}</h2>
      <div class="volunteer-info">
        <p>{{ floatingCardBody }}</p>
        <a href="{{ floatingCardLink }}" class="btn custom-btn">{{ floatingCardBtnText }}</a>
      </div>
    </div>
  </div>