---
layout: base.njk
<!-- pageTitle: -->
---

<section class="volunteer-bio-main" id="{{ pageId }}">
    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-sm-6 bio-img-container">
                <img src="{{ bioPortrait }}" class="img-fluid" alt="...">
            </div>

            <div class="col-12 col-md-6 bio-name-container">
                <h2 class="bio-name">{{ bioName }}</h2>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ bioDuty }}</h6>
            </div>

            <div class="col-12 col-md-6 bio-tagline-container">
                <h2 class="bio-name">{{ bioTagline }}</h2>
            </div>

            <div class="col-12 col-md-6">
                <h3>Bio</h3>
                <p>{{ bioBody }}</p>
            </div>
        </div>
    </div>
</section>