body {
  font-family: "Yeseva One", sans-serif;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.navbar {
  z-index: 100;
}
.navbar #nav-logo {
  height: 49px;
}

.custom-btn {
  color: white;
  background-color: #1D7061;
  border-radius: 16px;
  border: none;
  transition: 0.2s ease;
}
.custom-btn:hover {
  color: white;
  background-color: #1e1e1e;
  transform: scale(1.01);
}
.custom-btn:active {
  color: white !important;
  background-color: #1e1e1e !important;
  transform: scale(0.99);
}

#donate-section-btn {
  color: black;
  background-color: white;
  border-radius: 16px;
  border: none;
  transition: 0.2s ease;
}
#donate-section-btn:hover {
  color: black;
  background-color: white;
  transform: scale(1.01);
}
#donate-section-btn:active {
  color: black !important;
  background-color: white !important;
  transform: scale(0.99);
}

body {
  font-family: "Josefin Sans", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Yeseva One", sans-serif;
}

.hero-section {
  min-height: calc(50vh - 37.5px);
}
.hero-section .hero-text-container {
  padding: 20px;
  background-color: #f8f9fa;
}

.image-card-holder {
  height: 100%;
  width: 100%;
  position: inherit;
}
.image-card-holder img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.assistance-donate-tab {
  color: white;
  background-color: #1D7061;
}

.card-container {
  margin: 30px 0;
}
.card-container .card-col .card-volunteer {
  border-radius: 25px;
  background-color: #f8f9fa;
  text-decoration: none;
  border: none;
  height: 100%;
  transition: 0.2s ease;
  box-shadow: 0px 10px 10px 0px rgba(197, 197, 197, 0.7019607843);
}
.card-container .card-col .card-volunteer .card-img-fit {
  aspect-ratio: 5/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.card-container .card-col .card-volunteer:hover {
  transform: scale(1.01);
}
.card-container .card-col:nth-child(1) .card-img-fit, .card-container .card-col:nth-child(2) .card-img-fit, .card-container .card-col:nth-child(3) .card-img-fit, .card-container .card-col:nth-child(4) .card-img-fit, .card-container .card-col:nth-child(5) .card-img-fit, .card-container .card-col:nth-child(6) .card-img-fit, .card-container .card-col:nth-child(7) .card-img-fit {
  -o-object-position: 100% 25%;
     object-position: 100% 25%;
}

.volunteer-bio-main {
  margin: 30px 0;
}
.volunteer-bio-main .bio-portrait {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

#bio-portrait-daiod {
  -o-object-position: 0% 25%;
     object-position: 0% 25%;
}

.form-wrapper .message-input-box {
  height: 150px;
}

/* Footer */
.footer-container {
  height: 525px;
  color: white;
  background-color: #3A3A3A;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: static;
}

@media (min-width: 768px) {
  .hero-section img {
    height: calc(100vh - 75px);
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-section #homepage-hero-img {
    -o-object-position: 50% 0%;
       object-position: 50% 0%;
  }
  .hero-section .md-hero-card {
    border-radius: 50px;
    background-color: #f8f9fa;
    text-decoration: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 400px;
    height: 400px;
    padding: 50px;
  }
  .assistance-donate-tab {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .image-card-holder {
    height: 60%;
    width: 50%;
    position: relative;
    aspect-ratio: 1/1;
  }
  .image-card-holder img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
  }
  .image-card-holder:nth-child(1) {
    margin-bottom: -5%;
  }
  .image-card-holder:nth-child(1) img {
    -o-object-position: 40% 0%;
       object-position: 40% 0%;
  }
  .image-card-holder:nth-child(2) {
    margin-top: -5%;
    margin-left: 20%;
  }
  .image-card-holder:nth-child(2) img {
    -o-object-position: 10% 0%;
       object-position: 10% 0%;
  }
}