// VARIABLES

$primary-color: #e9b184;
$primary-color-2: #1D7061;
$primary-lighter: #fedec3;

$secondary-color: #0a83e5;
$secondary-darker: #044f8c;

$tertiary-color: #7A518E;

$footer-color: #3A3A3A;

$card-background-color: #f8f9fa;

$btn-border-radius: 16px;
$hero-card-border-radius: 50px;
$volunteer-card-border-radius: 25px;

$default-padding: 20px;

$section-separator: 30px 0;

$section-margin: 20px;
$footer-padding: 20px;
$volunteer-card-height: 100%;
$navbar-height: 75px;
$header-footer-color: #f8f9fa;



$transition: 0.2s ease;

$transform-hover: scale(1.01);
$transform-active: scale(0.99);

$shadow-cards: 0px 10px 10px 0px #c5c5c5b3;


// END VARIABLES


// RESETS

body {
    // font-family: Anuphan, sans-serif;
    font-family: "Yeseva One", sans-serif;

    // Enable footer to stay at bottom of viewport on short pages
    // Apparently only works properly when header is not fixed to top of viewport
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto; // Sets heights to header: auto; body: 1fr; footer: auto so that header and footer take up as much space depending on how much content is inside of them. Body expands if there is available space after adding necessary content
    grid-template-columns: minmax(0, 1fr); // Prevents page scrolling horizontally if there is content inside that is wider than the screen
}

// END RESETS


// MIXINS

// Card base styling
@mixin card-base-style($card-border-radius) {
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    text-decoration: none;
    border: none;
}

// Image holder
@mixin image-card($height: 100%, $width: 100%, $position: inherit) {
    height: $height;
    width: $width;
    position: $position;
    img {
        height: 100%;
        object-fit: cover;
        border-radius: $volunteer-card-border-radius;
    }
}

// END MIXINS


// GLOBAL ELEMENTS

// Navbar
.navbar {
    z-index: 100;
    #nav-logo {
        height: 49px;
        // Sets total height of navbar to 75px - issues with setting min-height directly on navbar as this makes brand and icon shift up slightly when expanding
    }
}

// Button Design

@mixin custom-btn($color, $background-color, $hover-color, $hover-bg-color) {
    color: $color;
    background-color: $background-color;
    border-radius: $btn-border-radius;
    border: none;
    transition: $transition;
    &:hover {
        color: $hover-color;
        background-color: $hover-bg-color;
        transform: $transform-hover;
    }
    &:active {
        color: $hover-color !important;
        background-color: $hover-bg-color !important;
        transform: $transform-active;
    }
}

// Button includes
.custom-btn {
    @include custom-btn(white, $primary-color-2, white, #1e1e1e);
    // Consider changing hover-bg-color
}

// Button in homepage donate section
#donate-section-btn {
    @include custom-btn(black, white, black, white);
}



// END GLOBAL ELEMENTS

// UNIVERSAL BEHAVIOUR

// Fonts
body {
    font-family: "Josefin Sans", sans-serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: "Yeseva One", sans-serif;
    }
}

// Hero - mobile
.hero-section {
    min-height: calc(50vh - $navbar-height / 2);
    // Style so that image takes up empty space if content below is short
    .hero-text-container {
        padding: $default-padding;
        background-color: $card-background-color;
    }
}

// END UNIVERSAL BEHAVIOUR

// SASS

// HOMEPAGE

.image-card-holder {
    @include image-card();
}

.assistance-donate-tab {
    color: white;
    background-color: #1D7061;
}

// VOLUNTEER PAGE

// Rearrange card styling to mixin but make sure everything still works properly

.card-container {
    margin: $section-separator;
    .card-col {
        .card-volunteer {
            @include card-base-style($card-border-radius: $volunteer-card-border-radius);
            height: $volunteer-card-height;
            transition: $transition;
            box-shadow: $shadow-cards;
            .card-img-fit {
                aspect-ratio: 5 / 3;
                // alter positions for nth images
                object-fit: cover;
                border-top-left-radius: $volunteer-card-border-radius;
                border-top-right-radius: $volunteer-card-border-radius;
            }
            &:hover {
                transform: $transform-hover;
            }
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            .card-img-fit {
                object-position: 100% 25%;
            }
        }
    }
}

// Bio Page

.volunteer-bio-main {
    margin: $section-separator;
    .bio-portrait {
        width: 100%;
        aspect-ratio: 1; // Squares image
        object-fit: cover;
    // set ID to each image as each will be different
    }
}

// Set object-position for each portrait where required

#bio-portrait-daiod {
    object-position: 0% 25%;
}

// Volunteer Form Page

.form-wrapper {
    .message-input-box {
        height: 150px;
    }
}

/* Footer */
.footer-container {
    height: 525px;
    // width: 100%;
    color: white;
    background-color: $footer-color;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 3%;
    text-align: center;
    position: static;
    // .fa-brands:hover {
    //     color: $primary-color;
    // }
}

// END SASS


// MEDIA QUERIES

@media (min-width: 768px) {

    .hero-section {
        // Set global style for all hero images in tablet/desktop
        img {
            height: calc(100vh - $navbar-height);
            width: 100%;
            object-fit: cover;
        }
        // Set image-specific positioning
        #homepage-hero-img {
            object-position: 50% 0%;
        }
        // Position card in tablet/desktop
        .md-hero-card {
            @include card-base-style($card-border-radius: $hero-card-border-radius);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10%;
            width: 400px;
            height: 400px;
            padding: 50px;
        }
    }

    .assistance-donate-tab {
        border-top-left-radius: $hero-card-border-radius;
        border-bottom-left-radius: $hero-card-border-radius;
    }

    .image-card-holder {
        @include image-card(60%, 50%, relative);
        aspect-ratio: 1/1;
        &:nth-child(1) {
            margin-bottom: -5%;
            img {
                object-position: 40% 0%;
            }
        }
        &:nth-child(2) {
            margin-top: -5%;
            margin-left: 20%;
            img {
                object-position: 10% 0%;
            }
        }
    }
}

// END MEDIA QUERIES