// VARIABLES

$primary-color: #e9b184;
$primary-lighter: #fedec3;

$secondary-color: #0a83e5;
$secondary-darker: #044f8c;

$tertiary-color: #7A518E;

$card-background-color: #f8f9fa;

$btn-border-radius: 50px;

$default-padding: 20px;

$section-separator: 30px 0;

$section-margin: 20px;
$footer-padding: 20px;
$card-height: 100%;
$navbar-height: 55.6px;
$header-footer-color: #f8f9fa;

$card-border-radius: 20px;

$transition: 0.2s ease;

$transform-hover: scale(1.01);
$transform-active: scale(0.99);

$shadow-cards: 0px 10px 10px 0px #c5c5c5b3;


// END VARIABLES


// RESETS

body {
    font-family: Anuphan, sans-serif;

    // Enable footer to stay at bottom of viewport on short pages
    // Apparently only works properly when header is not fixed to top of viewport
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto; // Sets heights to header: auto; body: 1fr; footer: auto so that header and footer take up as much space depending on how much content is inside of them. Body expands if there is available space after adding necessary content
    grid-template-columns: minmax(0, 1fr); // Prevents page scrolling horizontally if there is content inside that is wider than the screen
}

// END RESETS


// MIXINS


// END MIXINS


// GLOBAL ELEMENTS


// Navbar

.navbar-brand {
    height: 30px;
    #nav-logo {
        height: 100%;
    }
}

// Button Design
.custom-btn {
    color: white;
    background-color: $secondary-color;
    border-radius: $btn-border-radius;
    border: none;
    transition: $transition;
    box-shadow: 0px 5px 5px 0px grey;
    &:hover {
        color: white;
        background-color: $secondary-darker;
        transform: $transform-hover;
    }
    &:active {
        color: white !important;
        background-color: $secondary-darker !important;
        transform: $transform-active;
    }
}

#donateBtn {
    background-color: $primary-color;
    font-size: 20px;
    // position: absolute;
    // right: 10px;
    // top: 7.5px;
    border-radius: 15px;
    padding: 4px 10px;
    border: 3px solid;
    height: 35px;
    cursor: pointer;
    &:hover {
        background-color: #5b2b04;
        color: white;
    }
}

// END GLOBAL ELEMENTS


// UNIVERSAL BEHAVIOUR

// Container with a #fedec3 background covering full page width
.full-width-container {
    padding: $default-padding;
    background-color: $primary-lighter;
}

// .container-heading {
//     padding: $container-heading-padding;
// }

// END UNIVERSAL BEHAVIOUR

// SASS

.homepage-container {
    margin: 10px;
    padding: 10px;
    background-color: $card-background-color;
    border: 5px solid $primary-color;
}

.carousel-container {
    .gradient {
        position:absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, black, transparent 40%);
    }
    .carousel-item {
        height: calc(70vh - $navbar-height);
    }
    .c-img {
        object-fit: cover !important;
        height: 100%;
        width: 100%;
    }
}


// VOLUNTEER PAGE

// .volunteer-intro {
//     background-color: $primary-lighter;
// }

// .card {
//     height: $card-height;
//     transition: $transition;
//     border-radius: $card-border-radius;
//     background-color: $card-background-color;
//     text-decoration: none;
//     border: none;
//     box-shadow: $shadow-cards;
// }

// Rearrange card styling to use globally but make sure everything still works properly

.card-container {
    margin: $section-separator;
    .card-col {
        .card {
            height: $card-height;
            transition: $transition;
            border-radius: $card-border-radius;
            background-color: $card-background-color;
            text-decoration: none;
            border: none;
            box-shadow: $shadow-cards;
            .card-img-fit {
                aspect-ratio: 5 / 3;
                // alter positions for nth images
                object-fit: cover;
                border-top-left-radius: $card-border-radius;
                border-top-right-radius: $card-border-radius;
            }
            &:hover {
                transform: $transform-hover;
            }
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            .card-img-fit {
                object-position: 100% 25%;
            }
        }
    }
}

// Bio Page

.volunteer-bio-main {
    margin: $section-separator;
    .bio-portrait {
        width: 100%;
        aspect-ratio: 1; // Squares image
        object-fit: cover;
    // set ID to each image as each will be different
    }
}

// Set object-position for each portrait where required

#bio-portrait-daiod {
    object-position: 0% 25%;
}

// Volunteer Form Page

.form-wrapper {
    .message-input-box {
        height: 150px;
    }
}

/* Footer */
.footer-container {
    height: 100px;
    width: 100%;
    // color: white;
    background-color: $primary-lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    text-align: center;
    position: static;
    .fa-brands:hover {
        color: $primary-color;
    }
    .footer-text { 
        // color: white;
        text-align: center;
        width: 100%;
        // padding: 15px 0;
    }
}

// a {
//     text-decoration: none;
//     color: white;
// }


// END SASS


// MEDIA QUERIES

@media screen and (min-width: 768px) {

    // Change position of 'Volunteer With Us' section
    .hero-section-volunteer-page {
        #volunteer-hero-img {
            height: calc(100vh - $navbar-height);
            width: 100%;
            object-fit: cover;
        }
        #volunteer-recruit-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10%;
            width: 325px;
            border-radius: $card-border-radius;
        }
    }

}

// END MEDIA QUERIES